div.info {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }
  
  div.info div.image {
    flex: 1 1 200px;
    display: flex;
    align-items: center;
  }
  
  div.info div.image img {
    width: 60%;
  }
  
  div.info div.info-card {
    flex: 3 1 500px;
  }